<head>
  <meta charset="UTF-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }}
    {% else %}
    {{ page.title }} <> {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
    <link rel="stylesheet" href="{{ "/css/poole.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/backtotop.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css">
    <link rel="stylesheet" media="screen" href="{{ "/css/toc.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" media="screen" href="{{ "/css/select2.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" media="screen" href="{{ "/css/theme.grey.min.css" | prepend: site.baseurl }}">

    <script src="{{ "/scripts/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
    
    <!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.min.css" rel="stylesheet"> -->
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.min.js"></script> -->
    
    <script src="{{ "/scripts/jquery.tablesorter.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/jquery.tablesorter.widgets.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/select2.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/widget-filter-formatter-select2.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/jquery.tocLight.js" | prepend: site.baseurl }}"></script>
    
    <script type="text/javascript">
        $(function() {
          $.toc.clickHideButton();
        });
  </script>

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ "/css/images/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="icon" href="{{ "/css/images/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>

