<header class="site-header">

  <div class="wrapper">

      <a class="site-title" href="{{ site.baseurl }}/"> 
          <span class="main-title">
              <i style="margin-right:4px; color: #424242 !important;" class="fa fa-code"></i><span class="main-cheat" style="font-weight: bold;">Geek</span><span style="font-weight: 200">Stuff</span><i style="color: #268BD2; margin: 0px 1px 0px 3px;" class="fab fa-pied-piper-hat"></i><span style="font-size: 30px; "><span style="font-weight:100; color: #5d5d5d">gq</span></span>
                    
          </span>
      </a>

      <!-- <a class="post-link" href="http://guitarchords.ga"><i class="fa fa-music"></i><span class="post-link-title">  Guitarchords.ga</span></a> -->
      <!-- <a style="float:right; margin-top: 10px;"  href="{{ site.baseurl }}/bookmarks"><i class="fas fa-bookmark"></i></a>&nbsp;&nbsp; -->
      <!-- <a style="float:right; margin-top: 10px;" href="{{ site.baseurl }}/tags"><i class="fa fa-tags"></i></a> -->

  </div>
    <!-- <style> -->
    <!--     /* The default background color is #c00 */ -->
    <!--     .right-bottom .github-fork-ribbon { -->
    <!--         background-color: #2A7AE2; -->
    <!--     } -->

    <!--     .right .github-fork-ribbon { -->
    <!--         background-color: #f80; -->
    <!--     } -->

    <!--     .left-bottom .github-fork-ribbon { -->
    <!--         background-color: #333; -->
    <!--     } -->
    <!-- </style> -->
    
    <!-- <div class="github-fork-ribbon-wrapper right-bottom"> -->
    <!--     <div class="github-fork-ribbon"> -->
    <!--         <a href="https://github.com/johgh/johgh.io-source">Fork me on GitHub</a> -->
    <!--     </div> -->
    <!-- </div> -->
</header>
