---
layout: default
---
<h6 style="margin: 1rem 0 1.5rem 0"><a href="#" class="back" onclick="window.history.back()"><i class="fa fa-arrow-left"></i>  Go back</a></h6>
<div class="post">

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <!-- <time datetime="{{ page.date | date_to_xmlschema }}" class="page-date">{{ page.date | date_to_string }}</time> -->
  {{ content | toc_generate }}

</article>

<aside class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
        
         {% for post in site.posts %}

        {% for tag in post.tags | sort: 'date' %}
            {% if page.tags contains tag %}
                {% if page.title != post.title %}
                <li>
                    <h3>
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            {{ post.title }}
                            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
                        </a>
                    </h3>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% endfor %}
        
        
  </ul>
</aside>

