---
layout: default
---
<div class="post">

<br />
<article class="post">
  <h1 class="post-title"><a href="/{{ page.category }}" class="back"><i class="fa fa-arrow-left"></i></a> {{ page.title }}</h1>
  <br />
  {{ content | toc_generate }}
  <br />
  <blockquote>
      <p><strong>Last updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" class="page-date">{{ page.last_modified_at | date_to_string }}</time></strong></p>
  </blockquote>
</article>


{% include /related.html %}
